<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<!--简体中文SimplifiedChinese-->
		<!--繁体中文TraditionalChinese-->
		<!--英文English-->
		<add key="Language" value="Chinese"/>
	</appSettings>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
	</runtime>
</configuration>
